html {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: #ff6e41;
    background-color: #f9f7f4;
    margin: 0;
}

.topnav {
    background-color: #ff6e41;
    overflow: hidden;
}

.topnav a:not(.login){
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #f9f7f4;
    color: #ff6e41;
}

.topnav a.active {
    background-color: #c14924;
    color: #f9f7f4;
}

.nextprev a {
    background-color: #ff6e41;
    color: #f2f2f2;
    padding: 15px 32px 15px 32px;
    display: inline-block;
    font-size: 16px;
    border-left: white solid 3px;
    text-decoration: none;
}

.nextprev a:hover{
    background-color: rgba(255, 110, 65,0.5);

}

.zoekbtn {
    background-color: #ff6e41;
    color: #f9f7f4;
}

.contactLink, .contactLink:visited, .contactLink:hover, .contactLink:active {
    color: #ff6e41;
    text-decoration: none;
}
.contactLink:hover {
    font-size: 1.3em;
}

.login {
   float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}